* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background-color: #151e33;
    color: #fff;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    color: #f089a0;
    text-decoration: none;
}

.create {
    width: 100%;
    max-width: 650px;
    min-width: 329px;
    border-radius: 15px;
    padding: 3rem;
    
}

.login { 
    text-align: right;
    font-size: 17px;
}

.content {
    width: 65%;
    margin: 3rem auto;
}

.content h1 {
    font-size: 27px;
    text-align: center;
}

.content p {
    font-size: 16px;
    line-height: 25px;
    text-align: center;
}

.form {
    margin-top: 2rem;
}

.form label {
    font-weight: bold;
    display: block;
    font-size: 16px;
    margin-bottom: 0.3rem;
}

.form input {
    display: block;
    border: none;
    width: 100%;
}

.form input:not([type="submit"]){
    background-color: transparent;
    border: 1px solid #495e8d;
    border-radius: 5px;
    padding: 1.5rem;
    margin-bottom: 1rem;
    font-size: 16px;
    
}

.form input[type="submit"] {
    border-radius: 5px;
    background-color: #c24e67;
    color: white;
    font-weight: bold;
    padding: 1.5rem 3rem;
    cursor: pointer;
}
.form input[type="submit"]:hover{
    background-color: yellowgreen;
    color: rgb(2, 59, 2);
    font-size: 20px;
    padding: 22px;
    
}

.legal {
    background-color: #202e4e;
    border-radius: 5px;
    padding: 2rem;
    width: 87%;
    margin: 0 auto;
    font-size: 14px;
    line-height: 24px;
    color: #8f9ab2;
}


    
